extends ../layout
block javascript
    script(type='text/javascript', src='/js/dropdown.js')
    script(type='text/javascript', src='/js/manage-nodes.js')
    script(type='text/javascript', src='https://use.fontawesome.com/c695705283.js')
block content
    .content
        h3= cluster.name
        small= cluster.description
        br
        small: a(href='../') < Overview
        hr
        div
            form
                input.form-control(type='text', placeholder='Filter results')
        hr
        script var nodes = !{JSON.stringify(nodes)};
        table.table.table-hover
            thead
                tr
                    td Node
                    td Hostname
                    td.text-right
                        a.fa.fa-plus(title='Create a new node', data-toggle='modal', data-target='#createNode', data-tooltip='true', data-placement='left')
            tbody
                each node in nodes
                    tr(data-id=node.id)
                        td= node.name
                        td= node.hostname
                        td.text-right
                            if node.isMaster
                                span.badge.badge-default Master node
                            a.fa.fa-pencil(data-toggle='modal', data-target='#editNode', title='Modify node', data-tooltip='true')
                            a.fa.fa-trash(data-toggle='modal', data-target='#deleteNode', title='Delete node', data-tooltip='true')


    .modal.fade(id='createNode', tabindex='-1')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Create a new node
                    button.close(type='button', data-dismiss='modal', aria-label='close')
                        span.fa.fa-times-circle(aria-hidden='true')
                .modal-body
                    form.form-horizontal(id='createNodeForm', action='/clusters/create-node', method='post')
                        input(type='hidden', id='createNodeClusterID', name='clusterID', value=cluster.id)
                        .form-group
                            label.form-control-label(for='name') Name
                            input.form-control(type='text', id='name', name='name')
                            small.form-text Give your node a name
                        .form-group
                            label.form-control-label(for='hostname') Hostname
                            input.form-control(type='text', id='hostname', name='hostname')
                            small.form-text Specify your node hostname
                        .form-group
                            label.form-control-label(for='username') Username
                            input.form-control(type='text', id='username', name='username')
                            small.form-text Specify the username to use for SSH connections
                        .form-group
                            label.form-control-label(for='privateKey') Private key
                            textarea.form-control(id='privateKey', name='privateKey', rows='5')
                            small.form-text Copy your private key to enable SSH to your node
                .modal-footer
                    button.btn.btn-outline-secondary(type='button', data-dismiss='modal') Cancel
                    button.btn.btn-primary.submit(type='button') Create new node
    .modal.fade(id='editNode', tabindex='-1')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Edit node
                    button.close(type='button', data-dismiss='modal', aria-label='close')
                        span.fa.fa-times-circle(aria-hidden='true')
                .modal-body
                    // TODO
                .modal-footer
                    button.btn.btn-outline-secondary(type='button', data-dismiss='modal') Cancel
                    button.btn.btn-primary(type='button') Save

    .modal.fade(id='deleteNode', tabindex='-1')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Are you sure you want to delete this node?
                .modal-body.text-center
                    p The following node will be deleted
                    p.node
                .modal-footer
                    button.btn.btn-outline-secondary(type='button', data-dismiss='modal') Cancel
                    button.btn.btn-danger.confirm-delete(type='button') Delete node